albumentations==1.4.7
ipykernel==6.29.4
matplotlib==3.8.4
numpy==1.26.3
opencv-python==4.9.0.80
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
torch==2.3.0+cu118
torchinfo==1.8.0
torchvision==0.18.0+cu118
tqdm==4.66.4
