.DS_Store
eda/.DS_Store
eda/2_crops_suitable/notebooks/.DS_Store
__pycache__
cache/
.ipynb_checkpoints
unsupervised_with_airquality.ipynb
template.ipynb
join_lulc_amenity.ipynb
spatialJoins_1.ipynb
statistics.ipynb
template.ipynb
MariaFisher_sample_z9_unsupervised.ipynb
combined_v2.csv
unsupervised_00_maz.py
read_gpkg_files.ipynb
Untitled1.ipynb
Untitled.ipynb
combined_v2.gpkg
